{% extends 'dashboard_base.html' %}
{% load static %}



{% block style %}
<style>
    #errorMessage {
        margin-top: 15px;
        padding: 10px;
        background-color: #f8d7da;
        color: #721c24;
        border: 1px solid #f5c6cb;
        border-radius: 4px;
    }

    #successMessage {
        margin-top: 15px;
        padding: 10px;
        background-color: #10ca10;
        color: white;
        border: 1px solid #10ca10;
        border-radius: 4px;
    }
</style>


{% endblock %}


{% block content %}
<main class="content">
    <div class="container-fluid p-0">
        <h1 class="h3 mb-3"><strong>Transfer Funds</strong></h1>

        <div class="row">
            <div class="col-lg-6">
                <div class="card p-2">


                    <div class="card-body">
                        <form id="transferForm">
                            {% csrf_token %}

                            <div class="mb-3">
                                <label for="from_account" class="form-label">From Account<span
                                        class="text-danger">*</span></label>
                                <select class="form-select" id="from_account" name="from_account" required>
                                    <option value="" disabled selected>Select account</option>
                                    {% for account in accounts %}
                                    <option value="{{ account.id }}">{{ account.account_number }} -
                                        ${{account.balance}} - {{ account.account_type }}</option>
                                    {% endfor %}
                                </select>
                                <span class="text-sm">Only activated accounts can make a transfer.</span>
                            </div>

                            <div class="mb-3">
                                <label for="to_account" class="form-label">To Account <span class="text-danger">*</span>
                                </label>
                                <input type="number" class="form-control" id="to_account" name="to_account"
                                    placeholder="Recipient Account Number" required>
                            </div>

                            <div class="mb-3">
                                <label for="bank_name" class="form-label">Bank Name<span class="text-danger">*</span>
                                </label>
                                <input type="text" class="form-control" id="bank_name" name="bank_name"
                                    placeholder="Recipient Bank Name" required>
                            </div>

                            <div class="mb-3">
                                <label for="location" class="form-label">Location<span
                                        class="text-danger">*</span></label>
                                <input type="text" class="form-control" id="location" name="location"
                                    placeholder="Bank Location" required>
                            </div>

                            <div class="mb-3">
                                <label for="amount" class="form-label">Amount<span class="text-danger">*</span></label>
                                <input type="number" class="form-control" id="amount" name="amount"
                                    placeholder="Enter Amount ($)" required min="0">
                            </div>

                            <div class="mb-3">
                                <label for="ach_routing" class="form-label">ACH Routing (Optional)</label>
                                <input type="text" class="form-control" id="ach_routing" name="ach_routing"
                                    placeholder="ACH Routing Number">
                            </div>

                            <div class="mb-3">
                                <label for="beneficiary_name" class="form-label">Beneficiary Name<span
                                        class="text-danger">*</span></label>
                                <input type="text" class="form-control" id="beneficiary_name" name="beneficiary_name"
                                    placeholder="Beneficiary Name" required>
                            </div>

                            <div class="mb-3">
                                <label for="address" class="form-label">Beneficiary Address<span
                                        class="text-danger">*</span></label>
                                <textarea class="form-control" id="address" name="address"
                                    placeholder="Beneficiary Address" required rows="2"></textarea>
                            </div>

                            <button type="submit" class="btn btn-primary">Transfer</button>
                        </form>


                    </div>
                    <div id="errorMessage" class="alert alert-danger" style="display: none;"></div>
                    <div id="successMessage" class="alert alert-success" style="display: none;"></div>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Transfer Guidelines</h5>
                        <ul>
                            <li>Ensure the recipient's account number is correct before proceeding.</li>
                            <li>Transfers above a certain amount may require verification.</li>
                            <li>Check your available balance before making a transfer.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Password Confirmation Modal -->
    <div class="modal fade" id="otpModal" tabindex="-1" aria-labelledby="otpModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="otpModalLabel">Confirm Transfer</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div id="otpSection">
                        <p>
                            An OTP was sent to your mail. Please do not close this modal.
                            Please confirm the transaction with the OTP code that was sent to your mail.
                            If you did not receive a mail, click on Resend OTP.
                        </p>

                        <p class="otpMessage" id="otpMessage" class="d-none"></p>
                        <form id="otpForm">
                            <div class="mb-3">
                                <label for="password" class="form-label">Enter your OTP<span
                                        class="text-danger">*</span></label>
                                <input class="form-control" id="password" name="password" required>
                            </div>
                            <button type="button" id="resendOTP" class="btn btn-link text-primary p-0 mb-3">Resend
                                OTP</button>
                            <div class="d-flex align-items-center">
                                <button type="submit" class="btn btn-success">Confirm Transfer</button>
                                <div id="loadingIndicator" class="ms-3" style="font-weight: bold; display: none;">0%
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Message Modal -->
    <div class="modal fade" id="messageModal" tabindex="-1" aria-labelledby="messageModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="messageModalLabel">Message</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" id="modalMessageBody">
                    <!-- The message from the backend will be injected here -->
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Payment Modal -->
    <div class="modal fade" id="paymentModal" tabindex="-1" aria-labelledby="paymentModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="paymentModalLabel">Choose Payment Method</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" id="modalPaymentBody">
                    <!-- Payment Instruction Message -->
                    <p><strong>Deposit Instructions:</strong> Please deposit a fixed amount of <strong
                            class="text-primary">$500</strong> as
                        the cost of transfer. You can use any of the following payment methods to complete your payment:
                    </p>

                    <!-- The message from the backend will be injected here -->
                    {% include 'dashboard/_components/paymentIntegration.html' %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>


</main>

{% endblock %}

{% block script %}













<script>
    document.getElementById('transferForm').addEventListener('submit', function (e) {
        e.preventDefault();

        const formData = new FormData(this);

        fetch("{% url 'validate_transfer' %}", {
            method: "POST",
            headers: {
                "X-CSRFToken": "{{ csrf_token }}",
                "Accept": "application/json"
            },
            body: formData
        })
            .then(response => response.json())
            .then(data => {
                const modalMessageBody = document.getElementById('modalMessageBody');
                if (data.success) {
                    // document.getElementById('otpSection').style.display = 'block';
                    localStorage.setItem('transferDetails', JSON.stringify(Object.fromEntries(formData)));

                    // Show the modal
                    new bootstrap.Modal(document.getElementById('otpModal')).show();
                } else {
                    modalMessageBody.textContent = data.message;
                    modalMessageBody.classList.remove('text-success');
                    modalMessageBody.classList.add('text-danger');
                    // Show the modal
                    new bootstrap.Modal(document.getElementById('messageModal')).show();
                }
                // Show the modal
                // new bootstrap.Modal(document.getElementById('messageModal')).show();
            })
            .catch(error => console.error('Error:', error));
    });


    document.getElementById("resendOTP").addEventListener('click', function (e) {
        e.preventDefault();
        console.log("This loving stuff is working!")
        const otpMessage = document.getElementById("otpMessage");


        otpMessage.innerText = "OTP was sent successfully."
        otpMessage.classList.add("text-success");
        otpMessage.classList.toggle("d-none");



        fetch("{% url 'resend_otp_code' %}", {
            method: "POST",
            headers: {
                "X-CSRFToken": "{{ csrf_token }}",
                "Accept": "application/json"
            },
            body: JSON.stringify({ transaction_type: "transfer" }),
        })
            .then(response => response.json())
            .then(data => {
                console.log(data);
                if (data.success) {
                    otpMessage.classList.remove("d-none");
                    otpMessage.classList.add("text-success");
                    otpMessage.innerText = data.message;
                } else {
                    otpMessage.classList.remove("d-none");
                    otpMessage.classList.add("text-danger");
                    otpMessage.innerText = data.message;
                }
            })





    })

    document.getElementById('otpForm').addEventListener('submit', function (e) {
        e.preventDefault();

        const password = document.getElementById('password').value;
        const loadingIndicator = document.getElementById('loadingIndicator');
        loadingIndicator.style.display = 'inline';
        let loadingPercent = 10;

        // Start loading animation
        const loadingInterval = setInterval(() => {
            if (loadingPercent < 90) {
                loadingIndicator.textContent = `${loadingPercent}%`;
                loadingPercent += 10;
            } else {
                clearInterval(loadingInterval);

                // Send OTP verification request
                fetch("{% url 'confirm_transfer' %}", {
                    method: "POST",
                    headers: {
                        "X-CSRFToken": "{{ csrf_token }}",
                        "Accept": "application/json",
                    },
                    body: JSON.stringify({ password })
                })
                    .then(response => response.json())
                    .then(data => {
                        if (data.success) {
                            loadingIndicator.textContent = '100%';

                            // Hide otpModal before showing paymentModal
                            const otpModalInstance = bootstrap.Modal.getInstance(document.getElementById('otpModal'));
                            otpModalInstance.hide();

                            // Show paymentModal
                            new bootstrap.Modal(document.getElementById('paymentModal')).show();
                        } else {
                            loadingIndicator.textContent = 'Failed';
                            loadingIndicator.classList.add('text-danger');
                        }
                    })
                    .catch(error => {
                        console.error('Error:', error);
                    });
            }
        }, 1500);
    });


</script>

{% endblock %}