{% load static %}

<footer class="fcb-footer" role="contentinfo">
    <div class="sr-only">Footer</div>
    <div class="fcb-footer__general-content fcb-grid fcb-grid--1-col fcb-grid--spaced">

        <div class="fcb-grid fcb-grid--spaced fcb-grid--2-col-sm-up fcb-grid--4-col-lg-up">
            <div
                class="fcb-footer__link-list fcb-collapse fcb-collapse--desktop-disabled fcb-collapse--web-disabled fcb-collapse--tablet-disabled fcb-collapse--load-expanded fcb-collapse--mobile-collapsed fcb-collapse--slide">
                <button class="fcb-footer__collapse-button">
                    <div class="fcb-link-list fcb-link-list--footer-title">
                        <div class="fcb-link-list__title">
                            Contact
                        </div>
                    </div>
                </button>
                <div class="fcb-link-list">


                    <div class="fcb-link-list__title">Contact</div>
                    <div class="fcb-link-list__content fcb-rte">
                        <p><a class="rte-link--is-list-link" href="{% url 'call_us' %}" target="_self">Call Us</a></p>
                        <p><a class="rte-link fcb-link fcb-link--list-link rte-link--is-list-link"
                                aria-controls="fcb-modal--email-us-master" role="button"
                                data-modal-path="/content/experience-fragments/firstcitizens/modals/email-us/master"
                                href="#" target="modal">Email Us</a></p>
                        <p><a class="rte-link--is-list-link" href="https://jobs.firstcitizens.com/"
                                target="_blank">Careers</a></p>
                    </div>
                </div>

            </div>
            <div
                class="fcb-footer__link-list fcb-collapse fcb-collapse--desktop-disabled fcb-collapse--web-disabled fcb-collapse--tablet-disabled fcb-collapse--load-expanded fcb-collapse--mobile-collapsed fcb-collapse--slide">
                <button class="fcb-footer__collapse-button">
                    <div class="fcb-link-list fcb-link-list--footer-title">
                        <div class="fcb-link-list__title">
                            Support
                        </div>
                    </div>
                </button>
                <div class="fcb-link-list">


                    <div class="fcb-link-list__title">Support</div>
                    <div class="fcb-link-list__content fcb-rte">


                        <p><a class="rte-link--is-list-link" href="{% url 'routing_number' %}" target="_self">Routing
                                Number</a></p>
                        <p><a class="rte-link--is-list-link" href="{% url 'privacy_security' %}" target="_self">Privacy
                                &amp;
                                Security</a></p>
                        <p><a class="ot-sdk-show-settings rte-link--is-list-link"
                                href="{% url 'privacy_security' %}"><span class="fcb-link-text">Your Privacy
                                    Choices</span></a> <span data-icon-id="sys-chevron-thick" class="fcb-rte_icon">icon:
                                sys-chevron-thick</span><span data-icon-id="ccpa" class="fcb-rte_icon">icon:
                                ccpa</span></p>
                    </div>
                </div>

            </div>
            <div
                class="fcb-footer__link-list fcb-collapse fcb-collapse--desktop-disabled fcb-collapse--web-disabled fcb-collapse--tablet-disabled fcb-collapse--load-expanded fcb-collapse--mobile-collapsed fcb-collapse--slide">
                <button class="fcb-footer__collapse-button">
                    <div class="fcb-link-list fcb-link-list--footer-title">
                        <div class="fcb-link-list__title">
                            Company
                        </div>
                    </div>
                </button>
                <div class="fcb-link-list">


                    <div class="fcb-link-list__title">Company</div>
                    <div class="fcb-link-list__content fcb-rte">
                        <p><a class="rte-link--is-list-link" href="{% url 'about_page' %}" target="_self">About Us</a>
                        </p>


                        <p><a class="rte-link--is-list-link" href="{% url 'call_us' %}" target="_self">Community
                                Support</a></p>
                        <p><a class="rte-link--is-list-link" href="{% url 'terms_services' %}" target="_self">Terms of
                                Use</a>
                        </p>
                    </div>
                </div>

            </div>
            <div
                class="fcb-footer__link-list fcb-collapse fcb-collapse--desktop-disabled fcb-collapse--web-disabled fcb-collapse--tablet-disabled fcb-collapse--load-expanded fcb-collapse--mobile-collapsed fcb-collapse--slide">
                <button class="fcb-footer__collapse-button">
                    <div class="fcb-link-list fcb-link-list--footer-title">
                        <div class="fcb-link-list__title">
                            Banking
                        </div>
                    </div>
                </button>
                <div class="fcb-link-list">


                    <div class="fcb-link-list__title">Banking</div>
                    <div class="fcb-link-list__content fcb-rte">
                        <p><a class="rte-link--is-list-link" href="{% url 'main_home' %}" target="_self">Home</a>
                        </p>
                        <p><a class="rte-link--is-list-link" href="{% url 'personal_page' %}"
                                target="_self">Personal</a></p>
                        <p><a class="rte-link--is-list-link" href="{% url 'business' %}" target="_self">Small
                                Business</a></p>

                        <p><a class="rte-link--is-list-link" href="{% url 'wealth' %}" target="_self">Wealth</a></p>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="fcb-footer__bottom">
        <div class="fcb-footer__bottom-1of2">
            <div class="fcb-ig">


                <figure class="fcb-image  fcb-image--left">

                    <a href="https://www.facebook.com/firstcitizensbank/" target="_blank"
                        class="fcb-image__table-element fcb-image__link">


                        <img class="fcb-image__image"
                            src="	https://www.firstcitizens.com/content/dam/firstcitizens/images/icons/social-media-facebook.svg"
                            alt="Visit Facebook" data-trackable="true"
                            data-asset-id="1b11463a-66d3-480f-8b3e-7edba82fd00b" loading="lazy">

                        <span class="sr-only">, Opens in a new tab</span>


                    </a>

                </figure>

                <figure class="fcb-image  fcb-image--left">

                    <a href="https://twitter.com/firstcitizens" target="_blank"
                        class="fcb-image__table-element fcb-image__link">


                        <img class="fcb-image__image"
                            src="	https://www.firstcitizens.com/content/dam/firstcitizens/images/icons/social-media-x.svg"
                            alt="Visit Twitter" data-trackable="true"
                            data-asset-id="b6533aee-670e-4cc9-bcbe-508a26a966dc" loading="lazy">

                        <span class="sr-only">, Opens in a new tab</span>


                    </a>

                </figure>

                <figure class="fcb-image  fcb-image--left">

                    <a href="https://www.linkedin.com/company/first-citizens-bank/" target="_blank"
                        class="fcb-image__table-element fcb-image__link">


                        <img class="fcb-image__image"
                            src="	https://www.firstcitizens.com/content/dam/firstcitizens/images/icons/social-media-linked-in.svg"
                            alt="Visit LinkedIn" data-trackable="true"
                            data-asset-id="e7401f4e-112e-4e29-a29a-287a9077297a" loading="lazy">

                        <span class="sr-only">, Opens in a new tab</span>


                    </a>

                </figure>

                <figure class="fcb-image  fcb-image--left">

                    <a href="https://www.youtube.com/channel/UCGp8w5KIoFheteqBeKaKuXw" target="_blank"
                        class="fcb-image__table-element fcb-image__link">


                        <img class="fcb-image__image"
                            src="https://www.firstcitizens.com/content/dam/firstcitizens/images/icons/social-media-youtube.svg"
                            alt="Visit YouTube" data-trackable="true"
                            data-asset-id="1ad35e25-348c-4ff8-a569-9775577f3d3a" loading="lazy">

                        <span class="sr-only">, Opens in a new tab</span>


                    </a>

                </figure>


            </div>

            <div class="fcb-footer__bottom-2of2 fcb-footer__logo forever">

                <figure class="fcb-image  fcb-image--left">



                    <div class="fcb-image__table-element">
                        <img class="fcb-image__image"
                            src="https://www.firstcitizens.com/content/dam/firstcitizens/images/logos/forever-first-web.svg"
                            alt="First Citizens Forever First logo" data-trackable="true"
                            data-asset-id="ea6918cb-a186-4091-a5a4-9cca07ea8f4f" loading="lazy" tabindex="0">


                    </div>



                </figure>

            </div>
            <div class="fcb-footer__copyright fcb-grid fcb-grid--copyright">
                <div class="fcb-footer__copyright-text">
                    <span class="fcb-footer__copyright-text">© 2024&nbsp;</span>
                    <span class="fcb-footer__copyright-text">
                        <div class="fcb-rte" id="text-749e423085">

                            <p>First-Citizens Bank &amp; Trust Company. All rights reserved. First Citizens Bank is
                                a registered trademark of First Citizens BancShares, Inc.</p>

                        </div>
                    </span>
                </div>
            </div>
        </div>
    </div>

</footer>